body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 30px;
    background: #f4f4f4;
}

header, section {
    background: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}